// CONTACT FORM
#contact-form {
    width: 70%;

    @media screen and (max-width: 767px) {
        width: 100%;        
    }

    p {
        margin-left: 30%;
    }

    label {
        text-align: right;
        font-size: 0.875em;
        vertical-align: top;
        padding: 3px 20px 0 0;
        box-sizing: border-box;
        display: block;
    }

    input[type="text"], input[type="email"], input[type="tel"],
    textarea {
        -webkit-appearance: none;
        width: 100%;
        border: 1px solid $secondary;
        border-radius: $border-radius;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
        padding: 2px 6px;
        box-sizing: border-box;
    }

    textarea {
        min-height: 100px;
    }

    .error {
        display: none;
    }

    &.validate {

        input:invalid + .error,
        textarea:invalid + .error {
            position: relative;
            color: $error;
            margin-top: 5px;
            display: block;
            font-size: 0.875em;
        }
    }

    input[type="submit"] {
        float: right;
    }

    .row {
        margin-bottom: 12px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .col-1 {
        width: 30%;
        float: left;
    }

    .col-2 {
        width: 70%;
        float: left;
    }

    sup {
        color: $cta-light;
    }
}